body{

    /*background: white url(images/background2.jpg) no-repeat center;*/
    background: white
    
}

h1 {
    color: red;
    
}

/* search bar styling */

.search-box{
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 30px;
	border-radius: 30px;
	padding: 10px;

 }

 .search-box:hover > .search-txt{
 	width: 350px;
 	padding: 0 6px;
 }

 .search-box:hover > .search-btn{
 	background: white;
 }

 .search-btn{
 	color: #e84118;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: #2f3640;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 }

 .search-txt{
 	border: none;
 	background: none;
 	outline: none;
 	float: left;
 	padding: 0;
 	color: white;
 	font-size: 16px;
 	transition: 0.4s;
 	line-height: 30px;
 	width: 0px;
 }

#home{
	display: flex;
	flex-direction: column;
	padding: 3px 200px;
	height: 400px;
	justify-content: center;
	align-items: center;
}

#home::before{
    content: "";
    position: absolute;
    background: url(images/background2.jpg) no-repeat center center/cover;
    height: 320px;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index: -1;
    opacity: 0.89;
}

#home h1{
	color: red;
	text-align: center;
	margin-bottom: 5px;
	font-family: 'Bree Serif', 'serif';
}

#home p{
	color: black;
	text-align: center;
	font-size: 1.5rem;
}

.h-primary{
    font-size: 3.8rem;
    padding: 1px;
}




