body{

    /*background: white url(images/background2.jpg) no-repeat center;*/
    background: white
    height: 100%;
    margin: 0%;
    padding: 0%;
    
}

h1 {
    color: red;
    
}

/* search bar styling */

.search-box{
	position: absolute;
	top: 6%;
	left: 50%;
	transform: translate(-50%, -50%);
	background: #2f3640;
	height: 30px;
	border-radius: 30px;
	padding: 10px;

 }

 .search-box:hover > .search-txt{
 	width: 200px;
 	padding: 0 6px;
 }

 .search-box:hover > .search-btn{
 	background: white;
 }

 .search-btn{
 	color: #e84118;
 	float: right;
 	width: 30px;
 	height: 30px;
 	border-radius: 50%;
 	background: #2f3640;
 	display: flex;
 	justify-content: center;
 	align-items: center;
 	transition: 0.4s;
 }

 .search-txt{
 	border: none;
 	background: none;
 	outline: none;
 	float: left;
 	padding: 0;
 	color: white;
 	font-size: 16px;
 	transition: 0.4s;
 	line-height: 30px;
 	width: 0px;
 }

/*--------------------------------*/

/* content box styling */
#services{
	margin: 34px;
	display: flex;
}

#services .box{
	border: 2px solid brown;
	padding: 34px;
	margin: 2px 55px;
	border-radius: 28px;
	background: #f2f2f2;
	margin-left: 20px;
}

#services .box p{
	font-family: 'Bree Serif', 'serif';
}


.hero-image{
	position: relative;
	height: 500px;
	overflow: hidden;
	background: url(images/background2.jpg) no-repeat center;
	background-size: cover;
	z-index: -1;
	opacity: 0.89;
}

.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: hidden;
	text-align: center;
	color: white;
	font-weight: 700;
}

.container h1{
	font-size: 72px;
	letter-spacing: 0.1em;
	margin-top: 150px;
}

.container h1 span{
	border: 10px solid white;
	padding: 6px 14px;
	display: inline-block;
}

.des{
	margin: 20px;
	display: block;
	font-size: 26px;
	text-shadow: 0 0 10px black;
}



