<!DOCTYPE html>
<html lang="en">

<head>

    <!-- loads the path to your static files -->
    {% load static %}
    <meta charset="UTF-8">
    <title>Cosmic_talks</title>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'articles/index_style.css' %}"/>


</head>

<body>

<!-- q is the variable storing the search objects -->
<div class="search-box">
    <input class="search-txt" type="text" name="q" placeholder="search">
    <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
    </a>
</div>

<!-- banner -->
<div class="hero-image">
    <div class="container">
        <h1> <span>Cosmic Talks</span></h1>
        <span class="des">A blogging site dedicated to the wonders of the space!</span>
        
    </div>
    
</div>
                
<!-- for displaying articles -->

<section id="services-container">
    <div id="services">
        <div class="box">
            <h2 class="h-secondary center">Food </h2>
            <p class="center"> hjjjjjjjjjjjjjjjjjjjjjjjjjjjjjj, hhhhhhhhhhh
            hhhhhhhh, hhhhhhhhhhhhhhhh, hjhjhjhk</p>
            
        </div>
        
    </div>
    
</section>

<section id=content>
    <div class="articles">
    {% for article in articles %}
    <div class="article">
        <h2><a href="{% url 'articles:detail' slug=article.slug %}"> {{ article.title }} </a></h2>
        <p>{{ article.snippet }}</p>
        <p>{{ article.date }}</p>
    </div>
    {% endfor %}

</div>
    
</section>

</body>
</html>