<!DOCTYPE html>
<html lang="en">

<head>

    <!-- loads the path to your static files -->
    {% load static %}
    <meta charset="UTF-8">
    <title>Cosmic_talks</title>

    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'articles/index_style.css' %}"/>


</head>

<body>

<!-- q is the variable storing the search objects -->
<div class="search-box">
    <input class="search-txt" type="text" name="q" placeholder="search">
    <a class="search-btn" href="#">
        <i class="fas fa-search"></i>
    </a>
</div>

<section id="heading">
    <h1 class="h-primary">Cosmic Talks </h1>
    
    
</section>








<div class="articles">
    {% for article in articles %}
    <div class="article">
        <h2><a href="{% url 'articles:detail' slug=article.slug %}"> {{ article.title }} </a></h2>
        <p>{{ article.snippet }}</p>
        <p>{{ article.date }}</p>
    </div>
    {% endfor %}

</div>

</body>
</html>