<!DOCTYPE html>
<html lang="en">
<head>
	<!-- loads the path to your static files -->
    {% load static %}
    <meta charset="UTF-8">
    <title></title>
    	<script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'articles/details_style.css' %}"/>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" charset="utf-8"></script>

</head>
<body>

	<!--wrapper start-->
    <div class="wrapper">
        <!--header menu start-->
        <div class="header">
            <div class="header-menu">
                <div class="sidebar-btn">
                    <i class="fas fa-bars"></i>
                </div>
                <!--<ul>
                    <li>
                        <div class="search-box">
                            <input class="search-txt" type="text" name="q" placeholder="search">
                                <a class="search-btn" href="#">
                                <i class="fas fa-search"></i></a>
                        </div>
                    </li>
                        <li><a href="#">Signup</a></li>
                        <li><a href="#">Sign In</a></li> 
                    </ul> -->
                </div>
            </div>

<!--header menu end-->

<!--sidebar start-->
    <div class="sidebar">
        <div class="sidebar-menu">
            <center class="profile">
                <img src="images/1.jpg" alt="">
                    <p>Swarna</p>
            </center>
            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-desktop"></i><span>Home</span>
                </a>
            </li>

            <li class="item" id="profile">
                <a href="#profile" class="menu-btn">
                    <i class="fas fa-book"></i><span>Categories <i class="fas fa-chevron-down drop-down"></i></span>
                </a>
                    <div class="sub-menu">
                        <a href="#"><i class="fas fa-newspaper"></i><span>Catergory-1</span></a>
                        <a href="#"><i class="fas fa-newspaper"></i><span>Catergory-2</span></a>
                    </div>
            </li>

            <li class="item">
                <a href="#" class="menu-btn">
                    <i class="fas fa-info-circle"></i><span>About</span>
                </a>
            </li>
        </div>
    </div>

<!--sidebar end-->
    
<!--main container start-->

    <div class="main-container">
    
        <div class="article_detail">
    		<div class="article">
        		<h2> {{article.title}} </h2>
        		<p> {{article.body}} </p>
        		<p> {{article.date}} </p>

    		</div>
		</div>

<!--main container end-->
    </div> 
<!--wrapper end-->

</div>
    

<script type="text/javascript">
    $(document).ready(function()
    {
        $(".sidebar-btn").click(function(){$(".wrapper").toggleClass("collapse");
    });
    });
</script>



<!--<div class="article_detail">
    <div class="article">
        <h2> {{article.title}} </h2>
        <p> {{article.body}} </p>
        <p> {{article.date}} </p>

    </div>
</div> -->

</body>
</html>